body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(58, 67, 77);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

h1 {
  color: white;
}

.used--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.used,
#used {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

#used {
  color: white;
  margin-left: 0.5rem;
  letter-spacing: 0.3rem;
}

.used--container ul {
  display: flex;
  padding: 0;
}

.used--container ul li {
  list-style: none;
  margin: 0.2rem;
  font-size: 1.4rem;
  color: white;
}

.game {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 50rem;
  background-color: rgb(234, 245, 255);
  border-radius: 10px;
}

.game--container {
  height: 10rem;
  width: 20rem;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
}

.img--container {
  width: 20rem;
  border-left: 1px solid black;
}

.img--container img {
  height: 17rem;
}

.game--info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

input {
  transform: translateY(10%);
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.game--info p,
#game--mistake {
  margin: 0 1rem;
  padding: 0;
  color: white;
  font-size: 1.5rem;
}

#isPlaying {
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  color: rgb(99, 177, 241);
  font-size: 1.5rem;
}

#reset {
  height: 5rem;
  min-height: 50px;
  width: 70%;
  max-width: 200px;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(86, 156, 101);
}

.hidden {
  display: none;
}
